

$primarycolor: #BD10E0;
$secondarycolor: #FFFF00;

@font-face {
    font-family: 'kirkubold';
    src: url('../fonts/kirku-bold-webfont.eot');
    src: url('../fonts/kirku-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kirku-bold-webfont.woff2') format('woff2'),
         url('../fonts/kirku-bold-webfont.woff') format('woff'),
         url('../fonts/kirku-bold-webfont.ttf') format('truetype'),
         url('../fonts/kirku-bold-webfont.svg#kirkuregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kirkuregular';
    src: url('../fonts/kirku-regular-webfont.eot');
    src: url('../fonts/kirku-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kirku-regular-webfont.woff2') format('woff2'),
         url('../fonts/kirku-regular-webfont.woff') format('woff'),
         url('../fonts/kirku-regular-webfont.ttf') format('truetype'),
         url('../fonts/kirku-regular-webfont.svg#kirkuregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Breakpoints */

$tablet-width: 860px;

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}




img {
    width: 100%;
    height: auto;
}

body,
html {
    font-size: 24px;
    line-height: 1.25;
    font-family: 'kirkubold', sans-serif;
    font-weight: normal;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;

    @include mobile {
      font-size: 14px;
    }
}

input {
    font-family: 'kirkubold', sans-serif;
}

header {
    position: fixed;
    top: 2rem; right: 2rem;
    z-index: 10;

    @include mobile {
      width: 80px;
      top: 1rem; right: 1rem;
    }

    img {
        width: 100%;
        height: auto;
    }
}

main {
    position: relative;
    background-image: url(../img/random-machine-render.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    section {
        height: 100vh;
        width: 100%;
        position: relative;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    #page-3 {
        @include mobile {
          height: auto;
        }
    }
}

.sticker {
    position: absolute;

    @include mobile {
      width: 200px;
      height: auto;
    }

    h1,h2,h3,h4 {
        position: absolute;
        top: 50%; right: 0; left: 0;
        font-size: 2rem;
        line-height: 1;
        text-align: center;
        transform: translateY(-50%);
        margin: 0;
        font-weight: normal;
    }

    &.rotate-right {
        transform: rotate(8deg);
    }

    &.rotate-left {
        transform: rotate(-8deg);
    }

    &.first {
        top: 2%;
        left: 2%;
        color: $primarycolor;
    }

    &.scroll {
        right: 5%;
        bottom: -8%;
        color: $secondarycolor;

        @include mobile {
          width: 160px;
        }
    }

    &.third {
        top: 30%;
        left: 3%;
        color: $secondarycolor;
    }

    &.heart {
        right: 7%;
        bottom: 0;
        top: 50%;
        color: $primarycolor;
        transform: translateY(-50%) rotate(8deg);

        @include mobile {
          position: relative;
          right: auto;
          bottom: auto;
          top: auto;
          left: 50%;
          transform: translateX(-50%) rotate(8deg);
        }
    }
}

article {
    position: absolute;
    width: 50%;
    left: 4%; top: 50%;
    font-size: 2rem;
    transform: translateY(-50%);

    @include mobile {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        transform: none;
        margin: 2rem 1rem 5rem;
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        margin: 0;
    }
}

.left,
.right {
    width: 50%;
    float: left;

    @include mobile {
      width: auto;
      float: none;
    }
}

footer {
    .follow {
        background: $primarycolor;
        padding: 3rem 5rem 4rem;
        position: relative;

        @include mobile {
          padding: 2rem 10px 3rem;
          text-align: center;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        h3 {
            margin: 0 0 2rem;
            color: $secondarycolor;
        }

        input {
            border: none;
            display: inline-block;
            padding: 0.25rem 0.5rem;
        }

        #mce-responses {
            color: $secondarycolor;
            margin: 0.5rem 0 0;
        }

        .button {
            background: $secondarycolor;
            color: $primarycolor;
            cursor: pointer;
        }

        .right {
            text-align: right;

            @include mobile {
              text-align: center;
              padding: 3rem 0 0;
            }

            a {
                display: inline-block;
                transform: rotate(-22.5deg);
                color: $secondarycolor;
                text-decoration: none;
                font-size: 1.25rem;
            }
        }
    }
    .copyright {
        text-align: center;
        padding: 2rem 0 4rem;

        @include mobile {
          padding: 1rem 1rem 3rem;
        }

        p {
            text-transform: uppercase;
            a {
                color: #000;
                text-decoration: none;
            }
        }

        .logos {
            a {
                display: inline-block;
                margin: 1rem 2rem;

                @include mobile {
                  width: 110px;
                  height: auto;
                  margin: 1rem;
                }
            }
        }
    }
}
